button {
  background-color: #555;
  color: white;
  font-size: 2vh;
  font-family: inherit;
  box-sizing: border-box;
  padding: 2vh 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 20vw;
  margin-left: 40vw;
}

h1 {
  text-align: center;
}
